<div class='h-screen flex items-center justify-center'>
  <%= render(CardComponent.new) do %>
    <h1 class='text-5xl font-bold'>
      Crack the code!
    </h1>
    <div class='flex flex-row-reverse hover:'>
      <%= link_to "Start New Game", new_game_path %>
    </div>
  <% end %>
</div>
