<div class='h-screen flex items-center justify-center'>
  <div class='p-10 rounded-lg bg-white shadow-xl bg-sky-50'>
    <h1 class='text-5xl font-bold'>
      Crack the code!
    </h1>
    <div class='flex flex-row-reverse hover:'>
      <%= link_to "Start New Game", new_game_path %>
    </div>
  </div>
</div>
