<h1>New Game</h1>

<p>Choose your secret number (5 digits)</p>

<%= form_with model: Game.new, url: games_path do |f| %>
  <%= f.label :number %>
  <%= f.number_field :number %>

  <%= f.submit %>
<% end %>
